body {
    background-color: black;
}
.body {
    margin-right: 50px;
    margin-left: 50px;
    border: 2px rgb(179, 179, 179) solid;
    background-color: rgb(37, 37, 37);
}
.header {
    display: flex;
    justify-content: center;
    color: rgb(117, 117, 117);
    padding-top: 40px;
    font-size: 70px;
    border: 3px black;
}
.input-save {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
input {
    color: rgb(226, 226, 226);
    background-color: rgb(37, 37, 37);
    border: 5px rgb(58, 58, 58) solid;
    width: 250px;
    height: 35px;
    border-radius: 5px;
}
.save-button{
    width: 75px;
    height: 35px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: rgb(78, 78, 78);
    border: 4px rgb(20, 20, 20) solid;
    color: rgb(223, 223, 223);
}
.list-added {
    display: flex;
    border: 3px rgb(85, 85, 85) solid;
    border-radius: 15px;
    background-color: rgb(226, 226, 226);
    justify-content: space-between;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.list-added p {
    padding-left: 5px;
    margin: 0px;
}
.r-button {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgb(78, 78, 78);
    border: 3px rgb(20, 20, 20) solid;
    color: rgb(223, 223, 223);


}
